body {
    padding: 50px;
    background-color: #11151C;
    color: #7D4E57;
    line-height: 170%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}

.container {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.leftCon {
    float: left;
    margin-left: 350px;
}

.rightCon {
    float: right;
    margin-right:350px;
}

h1, h2, h3 {
    color: #D66853;
}
button {
    margin-top: 300px;
    border-radius: 5px;
    height: 35px;
    border: 0;
    padding: 0 10px;
    background-color: #D66853;
    font-size: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    /* color: #7D11151C4E57; */
}
  
body {
    /* background-color: magenta; */
    text-align: center;
}

.calc {
    border: 5px;
    padding: 10;
}

/* .liner {
    display: flex;
    align-items: flex-start;
    text-align: left;
  
} */

/* &:after {
    content: '';
    flex-grow: 1;
    height: 1px;
    background: #D66853;
    min-width: 20px;
    margin: auto;
  }

&:after {
    margin-left: 20px;
} */